# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.HouseSiegeVR.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\CurrentProjects\HouseSiegeVR\.idea\.idea.HouseSiegeVR\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
